

/* Reset des styles par défaut */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Améliorations pour la responsivité globale */
@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}

